body{
	background: #BBBBBB;
    //background: linear-gradient(45deg, rgb(242, 255, 0) 50%, blue, red, black);
}
#logo{
	width: 30%;
	vertical-align: top;
    margin: 0 33%;
    padding: 40px 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.descricao{
	background: #00ff59;
	padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}  

.referencias{
	text-align: left;
    background: #d77ba0;
	padding: 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}  

footer {
    text-align: center;
    background: url("img/bgi.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

h1{
	
	text-align: center
}
h2{
	text-align: center
}
h3{
	text-align: left
}
p{
	text-align: center;
	background: #CCCCCCC;
 }
 strong{
 	color:red;
 }
 em{
 	color:blue;
 }
 #aprenda{
 	font-size: 20px
 }

 @media screen and (max-width: 480px) { 
    #logo{
        width: 58%;
        vertical-align: top;
        margin: 0 33%;
        padding: 40px 20px;
    }
       
    footer {
        text-align: center;
        background: url("img/bgi.jpg");
        padding: 50px 0;
        width: 235%;
    }
    
    .copyright {
        margin: 30px 0 0;
    }

    .descricao, .referencias{
        font-size: 30px;
        width: 232%;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 20px;
    }   
             
}
